In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3

conn = sqlite3.connect("Medigreen.db")
c = conn.cursor()

In [2]:
q = """
    select * from dispensaryhasproduct as dhp
"""

df = pd.read_sql(q, conn)
df

          id  dispensaryID  productID                        date
0          1             2          1  2018-06-26 22:05:11.964586
1          2             2          2  2018-06-26 22:05:11.964586
2          3             2          3  2018-06-26 22:05:11.964586
3          4             2          4  2018-06-26 22:05:11.964586
4          5             2          5  2018-06-26 22:05:11.964586
5          6             2          6  2018-06-26 22:05:11.964586
6          7             2          7  2018-06-26 22:05:11.964586
7          8             2          8  2018-06-26 22:05:11.964586
8          9             2          9  2018-06-26 22:05:11.964586
9         10             2         10  2018-06-26 22:05:11.964586
10        11             2         11  2018-06-26 22:05:11.964586
11        12             2         12  2018-06-26 22:05:11.964586
12        13             2         13  2018-06-26 22:05:11.964586
13        14             2         14  2018-06-26 22:05:11.964586
14        15             2         15  2018-06-26 22:05:11.964586
15        16             2         16  2018-06-26 22:05:11.964586
16        17             2         17  2018-06-26 22:05:11.964586
17        18             2         18  2018-06-26 22:05:11.964586
18        19             2         19  2018-06-26 22:05:11.964586
19        20             2         20  2018-06-26 22:05:11.964586
20        21             2         21  2018-06-26 22:05:11.964586
21        22             2         22  2018-06-26 22:05:11.964586
22        23             2         23  2018-06-26 22:05:11.964586
23        24             2         24  2018-06-26 22:05:11.964586
24        25             2         25  2018-06-26 22:05:11.964586
25        26             2         26  2018-06-26 22:05:11.964586
26        27             2         27  2018-06-26 22:05:11.964586
27        28             2         28  2018-06-26 22:05:11.964586
28        29             2         29  2018-06-26 22:05:11.964586
29        30             2         30  2018-06-26 22:05:11.964586
...      ...           ...        ...                         ...
15554  15555           151       6003  2018-06-26 22:08:48.970357
15555  15556           151       6004  2018-06-26 22:08:48.970357
15556  15557           151       6005  2018-06-26 22:08:48.970357
15557  15558           151       6006  2018-06-26 22:08:48.970357
15558  15559           151       6007  2018-06-26 22:08:48.970357
15559  15560           151       6008  2018-06-26 22:08:48.970357
15560  15561           151       6009  2018-06-26 22:08:48.970357
15561  15562           151       6010  2018-06-26 22:08:48.970357
15562  15563           151       6011  2018-06-26 22:08:48.970357
15563  15564           151       6012  2018-06-26 22:08:48.970357
15564  15565           151       6013  2018-06-26 22:08:48.970357
15565  15566           151       6014  2018-06-26 22:08:48.970357
15566  15567           151       1842  2018-06-26 22:08:48.970357
15567  15568           151       6015  2018-06-26 22:08:48.970357
15568  15569           151       6016  2018-06-26 22:08:48.970357
15569  15570           151       6017  2018-06-26 22:08:48.970357
15570  15571           151       6018  2018-06-26 22:08:48.970357
15571  15572           151       6019  2018-06-26 22:08:48.970357
15572  15573           151       6020  2018-06-26 22:08:48.970357
15573  15574           151       1428  2018-06-26 22:08:48.970357
15574  15575           151       6021  2018-06-26 22:08:48.970357
15575  15576           151       6022  2018-06-26 22:08:48.970357
15576  15577           151       6023  2018-06-26 22:08:48.970357
15577  15578           151       6024  2018-06-26 22:08:48.970357
15578  15579           151       6025  2018-06-26 22:08:48.970357
15579  15580           151       6026  2018-06-26 22:08:48.970357
15580  15581           151       6027  2018-06-26 22:08:48.970357
15581  15582           151       6028  2018-06-26 22:08:48.970357
15582  15583           151       6029  2018-06-26 22:08:48.970357
15583  15584           151       6030  2018-06-26 22:08:48.970357

[15584 rows x 4 columns]